footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  color:white;
}
#graphpanel{
	height:100%;
}
#graphpanel .body{
	overflow-y:auto;
	height:100%;
}
#graphpanel .body svg{
	margin-bottom:35px;
}
.tab-content{
	height:600px;
	max-height:600px;
	overflow-y: hidden;
}
.helpInfo{
	color: grey;
    font-size: 11px;
}
.container-fluid{
	padding-left: 10px;
    padding-right: 10px;
}
.tab-content.side{
	border: 1px solid #ddd;
    border-top-color: transparent;
    height: 600px;
	padding: 10px;
}
body{
	overflow:hidden;
}
.main{
	
}
.navbar{
	color:white;
	border-radius:0px;
	margin-bottom: 10px;
}
#query{
	width:600px;
}
svg.graph{
	min-height:600px;
	border:1px solid grey;
	width:100%;
	box-shadow: 1px 1px 2px 1px grey;
}
#NED{
	overflow:auto;
}
#addBtn{
	position:absolute;
	right: 30px;
    top: 10px;
    width: 29px;
}
#directedBtn{
	position:absolute;
	right: 70px;
}
#addBtn span{
	margin-left: -2px;
}
.links path{
	fill:none;
}
#NetD,#NED,#controlpanel{
	overflow:auto;
	height:575px;
}
.errormsg.alert{
	padding: 6px;
	padding-left:10px;
    margin-bottom: 0px;
}
#graphpanel>.body{
	position:relative;
}
.tooltip{
	position:absolute;
	left:50px;
	top:50px;
	background-color:grey;
	border-radius: 3px;
	padding:3px;
}
#graphpanel .table td{
	width:50%;
}
.attributeoptions,.kmeanoptions,.hiearchicaloptions,.spectraloptions{
	display:none;
}
.loaderDiv{
	z-index:100000;
	background:black;
	opacity:0.7;
	position: absolute;
    width: 100%;
    height: 100%;
	display:none;
}
.loader {
	position:relative;
	margin-left:44%;
	margin-top:20%;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}


/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}
.FilterNodeCondition,.NumOfClusterSelect{
	display:none;
}
